header, nav, main, footer{
	width: 100%;
	margin: 0 auto;
}
header {
	background-image: url(https://ibb.co/xSxCZKV);
	background-color: rgba(201, 252, 217, 0.5);
	height: 120px;
	font-family: forma-djr-deck, sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: 14px;
    text-decoration-color: solid-black;
    display:grid;
    grid-template-columns: 40% 60%;
}

h1 {
	padding-top: 80px;
	padding-left: 30px;
	font-family: forma-djr-deck, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    text-decoration-color: solid-black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 80px;
  text-align: right;
  font-family: forma-djr-deck, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration-color: solid-black;
}

nav li {
  display: inline-block;
  margin-right: 25px;
}

header a:link, header a:visited {
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

header a:hover, header a:active {
  background-color: olive;
}

main, .car-hover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  width: auto;
  align-content: center;
  grid-column-gap: 150px;
  grid-row-gap: -900px;
}

.p1 {
  padding-left: 75px;
  padding-right: 75px;
}

.main-center {
  text-align: center;
}

.box-container {
  position: relative;
}

.box-container p, .box-container {
  background-color: white;
  padding: 20px;
}

/*.round-box {
  border-radius: 50% 50%;
  background-color: white;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 20px;
  left: -120px;
}*/

.main-one, .main-two, .main-three, .main-four {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  font-family: freight-micro-pro, serif;
  font-style: normal;
  font-size: 14px;
  text-decoration-color: solid black;
  line-height: 1.5;
  padding-top: -30px;
}

.colspan {
  text-align: center;
}

.b-photo{
  text-align: center;

}

.box-container {
  padding: 15px;
}


.main-one h2, .main-two h2, .main-three h2, .main-four h2,.colspan {
  grid-column: 1 / -1;
}

.main-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}

h2 { 
  font-family: forma-djr-deck, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-decoration-color: solid-black;
  padding-left: 200px;
}

.car-hover img {width: 500px;}

.tl-image, .tr-image, .bl-image, .br-image {
  position: relative;
  display: inline-block;
}

.tl-image:hover, .img-top, .tr-image:hover, .img-top, .bl-image:hover, .img-top, .br-image:hover, .img-top {
  display: inline;
    }

.Standard {
display: inline-block;
}
.tl-image:hover .Standard, .tr-image:hover .Standard, .bl-image:hover .Standard, .br-image:hover .Standard,{
display: none;
}

.ShowOnHover {
display: none;
}
.tl-image:hover .ShowOnHover, .tr-image:hover .ShowOnHover, .bl-image:hover .ShowOnHover, .br-image:hover .ShowOnHover{
display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

